<!DOCTYPE html>
<html>
  <head>
    <title>All Events</title>
  </head>
  <body>
    <h1>All Events</h1>
    <ul>
      {% for event in events %}
      <h1>{{ event.name_event }}</h1>

      <img
        src="{{ event.image.url }}"
        alt="{{ event.name_event }} Image"
        width="300"
      />

      <p><strong>Number Of User:</strong> {{ event.namber_user }}</p>

      <p><strong>Details Of Event:</strong></p>
      <p>{{ event.ditils }}</p>

      <p><strong>Time Of Event:</strong> {{ event.date }}</p>
      {% endfor %}
    </ul>
    <a href="{% url 'home' %}">back to home page</a>
  </body>
</html>
