{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Sign Up</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
    <div class="area3" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
      <div class="body1">

         <div class="container1">
             <form method="post">
              {% csrf_token %}
                 <h2>Sign Up</h2>
     
                 <div class="container7">
                  <div class="one7">
                     <div class="input_box">
                      {{ form.first_name}}
                        <label for="">First Name</label>
                    </div>
        
                    <div class="input_box">
                      {{ form.last_name}}
                        <label for="">Last Name</label>
                    </div>
                  </div>
   
                  <div class="two7">
                    <div class="input_box">
                      {{ form.phone_number}}
                     <label for="">Phone Number</label>
                 </div>
        
        
                    
                    
                     <div class="input_box">
                      {{ form.email}}
                        <label for="">Email</label>
                    </div>
                  </div>

                  <div class="three7">
                    <div class="input_box">
                      {{ form.password1}}
                        <label for="">Create Password</label>
                    </div>
   
                    <div class="input_box">
                     {{ form.password2}}
                     <label for="">Confirm Password</label>
                    </div>
                  </div>

                 </div>
                 <button>ٍSign Up</button>

             </form>
         </div>
         <div class="sign-up">
            <button onclick="goToLogin()"><p>Login</p></button>
            <button onclick="goToHome()"><p>Home</p></button>
        </div>

      <script>
         function goToHome() {
             window.location.href = "{% url 'home' %}";
         }
 
         function goToLogin() {
             window.location.href = "{% url 'login' %}";
         }
     </script>
   </body>
</html>